<!-- /row -->
<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>
    <!-- /thumbnail -->
  </div>
  <!-- /col-sm-1 -->
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= User.find(comment.user_id).email %></strong> <span class="text-muted">commented <%= time_ago_in_words(comment.created_at)%></span>
        <% if comment.user_id == current_user.id %>
          <label> &nbsp; &nbsp;<i class="fa fa-pencil"></i></label>
        <% end -%>
      </div>
      <div class="panel-body">
        <%= raw comment.body %>
      </div>
      <!-- /panel-body -->
    </div>
    <!-- /panel panel-default -->
  </div>
  <!-- /col-sm-5 -->
</div>
<!-- /row -->